@using ThinkingHome.SiteEngine.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    @(Navigation.GetItems(Context.Request).FirstOrDefault(item => item.selected)?.content ?? ViewBag.Title)
    &ndash; ThinkingHome.System
  </title>

@*  <link href="~/css/bootstrap.min.css" rel="stylesheet"/>*@
@*  <link href="~/css/font-awesome.min.css" rel="stylesheet"/>*@
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="~/css/highlight.css" rel="stylesheet"/>
  <link href="~/css/site.css" rel="stylesheet"/>

  <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41774344 = new Ya.Metrika({ id:41774344, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41774344" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</head>
<body>
<div class="container">
  <div class="row ths-site-header">
    <div class="col-md-4">
      <a class="ths-logo" href="@Url.Action("Index", "Home")">
        <span class="ths-brand-name">Thinking-Home.</span><span class="ths-product-name">System</span>
      </a>

      <a class="btn btn-default pull-right hidden-md hidden-lg js-btn-menu">
        <i class="fa fa-2x fa-bars"></i>
      </a>
    </div>
    <div class="col-md-8 hidden-sm hidden-xs js-menu">
      <ul class="nav nav-pills pull-right">
        @foreach (var item in Navigation.GetItems(Context.Request))
        {
            var cssClass = item.selected ? "active" : "";

            <li class="@cssClass">
              <a href="@item.url">@item.content</a>
            </li>
        }
        <li class="nav-download">
          <a href="https://yadi.sk/d/BIvE-QZB35NPcs" target="_blank">
            <span class="fa fa-fw fa-download"></span> Скачать
          </a>
        </li>
      </ul>
    </div>
  </div>

  @RenderBody()
  <hr/>
  <footer class="text-muted">
    <div class="row">
      <div class="col-md-5">
        <p>&copy; 2013 &ndash; @DateTime.Now.Year Thinking-Home.RU</p>
      </div>
      <div class="col-md-7">
        <p>
          Будем рады ответить на вопросы:
          <span class="fa fa-skype"></span>
          <a href="skype:dima117a?chat">dima117a</a>,
          <span class="fa fa fa-envelope-o"></span>
          <a href="mailto:dandriyanov@thinking-home.ru">dandriyanov@thinking-home.ru</a>
        </p>

      </div>
    </div>
  </footer>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/highlight.js"></script>
<script>
    hljs.initHighlightingOnLoad();

    $(function() { $('.js-btn-menu').click(function() { $('.js-menu').toggleClass('opened-nav-menu'); }); });
</script>
</body>
</html>